* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    text-align: center;
    width: 85%;
    max-width: 1440px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin: auto;
}

main {
    padding: 75px 0;
    max-width: 750px;
    margin: auto;
}

h1 {
    margin: 25px 0;
    font-size: 2em;
}

p {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: blueviolet;
    transition: all 100ms ease;
}

a:hover {
    color: rgb(171, 34, 186);
    cursor: pointer;
    transform: scale(1.05);
}

button {
    padding: 10px 45px;
    margin-top: 25px;
    border-radius: 8px;
    border: none;
    background-color: rgb(68, 0, 128);
    color: white;
    transition: all 100ms ease;
}

button:hover {
    background-color: rgb(171, 34, 186);
    cursor: pointer;
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.button-choice {
    padding: 12px 45px;
    border-radius: 8px;
    margin: 8px 0;
    width: 250px;
    border: none;
    background-color: rgb(68, 0, 128);
    color: white;
    transition: all 100ms ease;
}

.button-choice:hover {
    background-color: rgb(171, 34, 186);
    cursor: pointer;
    transform: scale(1.05);
}

#answer-div {
    padding: 8px 0;
    margin-top: 15px;
    border-top: 1px solid black;
}

.multiple-choice-container {
    display: flex;
    flex-direction: column;
    width: 275px;
}

.answer-status {
    margin-top: 20px;
}

#score-input {
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 50px;
}

#high-score-list {
    width: 400px;
    margin: auto;
    text-align: left;
}

#high-score-list li {
    margin: 7px 0;
    font-size: 25px;
}